<!-- BLANKSPACE -->

<div class="blankspace"></div>

<!-- ABOUT -->
<a name="about"> </a>
<div class="about">
	<h1>We are NiCho Chocolatiers.</h1>
	<p>At NiCho we take pride in our heritage. We are four generations of artisan chocolatiers from four countries that have dedicated oursleves to creating luxurious handmade chocolate.</p>
	<p>Taste. Enjoy. Share our passion.</p>
</div>


<!-- CHOCOLATE -->

<a name="chocolates"> </a>
<div class="chocolates">
	<h1>Which Chocolate is Right For You?</h1>
	<div class="row" id="chocolates">
		<div class="col-xs-4 col-md-4">
			<div class="chocolate_characteristics">
			<% @characteristics.each do |character| %>
				<p><%= character %></p>
				<% end %>
			</div>
		</div>
		<div class="col-xs-6 col-md-6">
			<div class="chocolate_bars">

			</div>
		</div>
	</div>
</div>

<!-- CONTACT -->

<a name="contact"> </a>
<div class="contact">
	<h1>Where to Find Us</h1>
	<p>You can purchase our artisan chocolate at the St. George's Market every Friday, Saturday and Sunday. Stop by and say hi! We look forward to introducing you to our finest handmade Irish chocolates.</p>

	<p>You can also make purchases at our factory on North Howard Street. Have a question? Want to place an order? Send us an email. Can't wait to hear from you!</p>

	<p>info(at)nichochocolates.com</p>
</div>




