<div class="main">
<h1>We are NiCho Chocolatiers.</h1>
<p>At NiCho we take pride in our heritage. As artisan chocolatiers, four generations from four countries have dedicated themsleves to creating luxurious handmade chocolate.</p>
<p>Taste. Enjoy. Share our passion.</p>
</div>

