<!-- ABOUT -->

<div id="about" class="anchor-container about">
	<h1>We are NiCho Chocolatiers.</h1>
	<p>At NiCho we take pride in our heritage. We are four generations of artisan chocolatiers from four countries that have dedicated oursleves to creating luxurious handmade chocolate.</p>
	<p>Taste. Enjoy. Share our passion.</p>
</div>


<!-- CHOCOLATE -->

<div id="chocolates" class="anchor-container chocolates">
	<h1>Which Chocolate is Right For You?</h1>
	<h2>select a characteristic to see your personalized suggestion</h2>
	<div class="row">
		<div class="col-xs-4 col-md-4">
			<div class="chocolate_characteristics">
			<% @characteristics.each do |character| %>
				<span class="character"><%= character %></span>
				<% end %>
			</div>
		</div>
		<div class="col-xs-8 col-md-8">
			<div class="chocolate_bars">
			<% @bars.each do |id, bar| %>
				<span class="bar" data-bar-id="<%= id %>"> 
				<%= image_tag(bar.image_key + ".png", alt: bar.name, title:bar.name) %></span>
				<% end %>
			</div>
		</div>
	</div>
</div>

<!-- CONTACT -->

<div id="contact" class="anchor-container contact">
	<h1>Where to Find Us</h1>
	<div class="stgeorge">
	<%= image_tag("stgeorgesmarket.png", alt: "St Georges Market") %>
	</div>
	<p>You can purchase our artisan chocolate at the St. George's Market every Friday, Saturday and Sunday. Stop by and say hi! We look forward to introducing you to our finest handmade Irish chocolates.</p>

	<p>You can also make purchases at our factory on North Howard Street. Have a question? Want to place an order? Send us an email. Can't wait to hear from you!</p>

	<p>info(at)nichochocolates.com</p>
</div>

<script type="text/javascript">
	$('span.character').click(function(){
		var characteristic = this.innerText;
		var characterSpan = $(this);
		var isAlreadySelected = characterSpan.hasClass('selected');
		$("span.character.selected").removeClass('selected');
		if (isAlreadySelected) {
			// need to show all items again
			$('span.bar').show();
			return;
		}

		characterSpan.addClass('selected');

		// matching_bars/warm
		$.ajax({
		    type: "GET",
		    url: "/matching_bars/" + characteristic,
		    dataType: "json",
		    success: function(data){
		        console.log(data);
		        $('span.bar').each(function(a,b,c){
		        	var barSpan = $(this);
		        	var id = barSpan.attr('data-bar-id');
		        	if (data.indexOf(Number(id)) == -1){
		        		barSpan.hide();
		        	} else{
		        		barSpan.show();
		        	}

		        })
		    }        
		});
	});
</script>


