<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<div class="col-md-4">
				<div class="thank_you">
					<%= image_tag("thank_you.jpg", alt: "Get Back to You Soon") %>
				</div>
			</div>
			<div class="col-md-4" id="thankyou_text">
				<p>Thank you for contacting us. We have received your message and will respond as soon as possible. 
				</p>
			</div>
		</div>
	</div>
</div>