<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<div class="col-md-offset-4 col-md-4">
				<p>Thank you for your purchase. We truly hope you enjoy our chocolate! 
				</p>
				<p>Want to try some of our other flavors? <%= link_to "Buy", products_path %> </p>
			</div>
		</div>
	</div>
</div>