// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$accentTextColor: #b91845;
$navBackColor: #0a383b;

#products {
	margin: 50px;
	vertical-align: middle;

		th {
			font-family: 'Roboto Condensed', sans-serif;
			font-weight: bolder;
			font-size: 1.5em;
			color: #b91845;
			letter-spacing: .5em;
			text-align: center;
			width: 300px;
		}

		.colspan th {
			margin: 50px;
		}
}

form#new_product.new_product {
	margin: 50px;
}

#sale-items.col-sm-2.col-md-4 {
	display: block;
	margin: 15px;

}

img.img-responsive {
	text-align: center;
	display: inline-block;
}

#product-show.container-fluid {
	margin-top: 100px;
	margin-left: 50px;
}

#product-description.col-sm-4.col-md-4 {
	vertical-align: bottom;
	text-align: left;
	padding: 10px;

}

span.glyphicon.glyphicon-euro {
	font-size: .8em;
}

#new-customer-rating.row {
	margin-bottom: 20px;
	margin-top: 20px;
	text-align: left;
		.col-sm-4.col-md-4 {
			padding: 0px 50px;
		}
}

#customer-rating {
	margin-bottom: 200px;
	margin-top: -75px;
	margin-left: 50px;
		.row {
			text-align: left;
		}
}

.paginate {
  text-align: left;
  padding: 0.3em;
  cursor: default; 
  	a, span, em {
    	padding: 0.2em 0.5em; 
    }
  	.disabled {
    color: #aaaaaa; 
	}
  	.current {
    font-style: normal;
    font-weight: bold;
    color: $accentTextColor; 
	}
  	a {
    border: 1px solid #dddddd;
    color: white;
    text-decoration: none; 
	}
    a:hover, a:focus {
      border-color: $accentTextColor;
      background: $navBackColor;
      color: white; 
  	}
  	.page_info {
    color: #aaaaaa;
    padding-top: 0.8em; 
	}
  	.previous_page, .next_page {
    border-width: 2px; 
	}
   .previous_page {
    margin-right: 1em; 
	}
  	.next_page {
    margin-left: 1em; 
	}
}
  


