// 

$accentTextColor: #b91845;
$navBackColor: #0a383b;
$navbarHeight: 100px;

body {
	background-color: white;
}

.anchor-container:before { 
  display: block; 
  content: " "; 
  height: $navbarHeight; 
  visibility: hidden; 
}

$body-bg: transparent;

h1 {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bolder;
	color: $accentTextColor;
}

h2 {
	font-family: 'Roboto Condensed', sans-serif;
	color: $accentTextColor;
	font-style: italic;
	font-size: 1.4em;
	margin-top: -8px;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 1.2em;
}

.nav {
	/*position: fixed;*/
	background-color: transparent;
	z-index: 1; 
}

.navbar {
	border-bottom-width: 0;
	background-color: $navBackColor;

	.navbar-nav>li>a {
		color: $accentTextColor;
		font-family: 'Roboto', sans-serif;
		font-size: 1.5em;
		text-align: center;
		text-shadow: .3px .3px black;
	}

	#search-form {
		color: #b91845;
	}
}

#nav-link-container {
	float: right;
	display: inline-block;
	color: white;
	
}

.navbar-brand {
	float: left;
	display: inline-block;
	padding: 0;
	height: auto;
}

.nav a:hover {
     color: #ff0;
     text-decoration: none;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

.anchor-container {
	background-color: white;
	padding: 15px;
	margin: 0 50px;
	text-align: center;
}

#contact-form {
	margin-bottom: 200px;
	vertical-align: middle;
	text-align: center;
		.row {
			margin-top: 20px;
		}
}

.row {
	vertical-align: middle;
	text-align: center;
	margin-top: 75px;
}

.panel.panel-default {
	margin-top: 100px;
	margin-bottom: 200px;
	border: 0px;
		.row {
			display: inline-block;
				#thankyou_text.col-md-4{
					padding: 100px 50px 50px 15px;
				}
		}
}

.character {
	text-color: black;
	font-weight: bolder;
	letter-spacing: 0.2em;
	font-size: 1.3em;
	margin-right: 40px;
	padding: 15px;
	display: inline-block;
	cursor: pointer;
	border: solid 1px white;

	&:hover {
		background-color: #e0e0e0;
		border-color: $navBackColor;
	}

	&:active, &.selected {
		background-color: $navBackColor;
		border-color: $navBackColor;
		color: $accentTextColor;
	}
}

.carousel {
	padding: 75px;
	background-color: $accentTextColor;
	padding-left: 100px;	
	overflow: hidden;

		.carousel-control {
			max-width: 50px;			
		}

		a.carousel-control:hover {
			background-color: $navBackColor;
			background-image: none;
			opacity: 1;
		}

		.carousel-inner {
			vertical-align: middle;
			overflow: initial;
		}
}



.chocolate_bars {
	display: inline-block;

	.bar {
		display: inline-block;
		height: 250px;
		margin: 12px;

		img {
			height: 100%;
		}
	}
}

.stgeorge {
	vertical-align: middle;
	margin: 25px;
	
	img {
		width: 100%;
		height: auto;
	}
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -50px; 
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after {
  height: 50px; 
}

.site-footer {
	color: $accentTextColor;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.1em;
	text-shadow: .01px .01px gray;
	width: 100%;
	z-index: 1;
	position: fixed;
	bottom: 0;
}

footer p {
	float: left;
	margin-left: 15px;
	font-size: 1em;
}

div.attribute {
	float: right; 
	margin-right: 15px;
}

div.attribute a {
	color: $accentTextColor;
	font-family: 'Roboto Condensed', sans-serif;
	text-decoration: none;
}

