// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form.auth-form {
	max-width: 300px;
	padding: 20px;
	margin: 60px auto 0 auto;
}
